.homescreen {
  @apply w-screen;
  overflow: hidden;
  &_landingsection {
    &_landingimg {
      width: 100%;
    }
  }
  &_aboutsection {
    @apply flex justify-center flex-col;
    color: #b60029;

    &_title {
      @apply h-6 sm:h-8 xl:h-12 flex justify-center font-black mt-12 lg:mt-14 xl:mt-16 mb-8 lg:mb-10 xl:mb-12;
      &_img{
        width: 100%;
      }
    }
    &_subtitle {
      @apply text-xs sm:text-sm lg:text-lg xl:text-xl py-2 text-center flex justify-center w-10/12 items-center mx-auto;
    }
  }
  &_roadmapsection {
    @apply flex justify-center flex-col items-center;
    &_title {
        @apply h-56 lg:h-72 xl:h-80 flex justify-center py-3 md:py-4 lg:py-5 xl:py-6 mt-12;
      &_img {
        width: 100%;
      }
    }
    &_subtitle1 {
        @apply flex justify-center h-7 sm:h-12 xl:h-16 py-6 sm:py-8 lg:py-10 xl:py-12;
        &_img{
            width: 100%;
        }
    }
    &_subtitle2 {
        @apply flex justify-center h-9 sm:h-14 xl:h-24 py-6 sm:py-8 lg:py-10 xl:py-12;
        &_img{
            width: 100%;
        }
    }
    &_subtitle3 {
        @apply flex justify-center h-10 sm:h-16 xl:h-28 py-6 sm:py-8 lg:py-10 xl:py-12;
        &_img{
            width: 100%;
        }
    }
    &_subtitle4 {
        @apply flex justify-center h-32 lg:h-40 xl:h-48 py-8;
        &_img{
            width: 100%;
        }
    }
  }
}
